[submodule "SCREEN-CONTROLLER"]
	path = SCREEN-CONTROLLER
	url = https://github.com/felipegaspari/DCO3-MONOSYNTH-SCREEN-CONTROLLER.git
	branch = improvements
[submodule "INPUT-CONTROLLER"]
	path = INPUT-CONTROLLER
	url = https://github.com/felipegaspari/DCO3-MONOSYNTH-INPUT-CONTROLLER.git
	branch = improvements
[submodule "DCO"]
	path = DCO
	url = https://github.com/felipegaspari/DCO3-MONOSYNTH-DCO.git
	branch = improvements
[submodule "Mainboard"]
	path = Mainboard
	url = https://github.com/felipegaspari/DCO4_Mainboard_Controller.git
	branch = improvements
